// responsive
$breakpoints: ( tablets: 768px, desktop: 1024px, );
// Colors
$defaultpurple: #5d246b;
$defaultgrey: #4b4556;
$lightpurple: #eee7ef;
$black: black;
$white: white;
$sup: darkred;
$mod: darkblue;
$add: limegreen;