@import "../assets/scss/utils/mixins";
h3.success-login {
    @include principal-font;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: rgba(0, 0, 0, 0.678);
    // transform: scaleY(140%);
    text-shadow: 2px 2px 3px #5d246b;
    text-transform: uppercase;
    animation: translate 2s ease-in forwards;
    transform: translateY(-250%);
    opacity: 0;
}