@import "../assets/scss/utils/variables";
@import "../assets/scss/utils/mixins";
.container {
    @include secondary-font;
    @include container;
    h2 {
        margin-bottom: 4rem;
    }
    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        label {
            justify-self: right;
        }
        button {
            grid-column: 1/3;
            justify-self: center;
            height: 2rem;
            width: 50%;
            background-color: $add;
            border: 1px solid $add;
            border-radius: 0.5rem;
            margin-top: 2rem;
        }
    }
}