@import "../assets/scss/utils/variables";

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border: solid;  

    main{
        display: flex;
        align-items: center;
        // height: calc(100vh - 10rem );
        // border: solid;
    }
}

